body{
    font:125%/1.75 Martel-subset,Georgia;
    color:#444;
    margin:0
}
p{
    margin:3.5em 0
}
h2{
    color:#04559A;
    font-size:175%;
    line-height:1.5;
    margin:.51em 0
}
h2:first-child,h2+*{
    margin-top:0
}
img{
    max-width:100%;
    height:auto
}
body>svg{
    display:none
}
.grid{
    text-align:center;
    margin:auto;
    padding:20px;
    font-size:0
}
.grid_item{
    font-size:1.25rem;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding:20px;
    display:inline-block;
    vertical-align:top;
    text-align:left;
    width:100%
}
.grid_item div{
    text-align:justify;
}
.grid--2{
    max-width:440px
}
.grid--3{
    max-width:660px
}
.grid--4{
    max-width:880px
}
.grid--6{
    max-width:1320px
}
.grid--center{
    text-align:center
}

.sitelogo{
    max-height:75px
}
.summary{
    line-height:1.95;
    color:#999999;
    margin:0
}
.summary{
    font-size:90%
}
.image{
    background:#fff;
    border-radius:5px;
    box-shadow:0 2px 1px 1px rgba(0,0,0,.2);
    overflow:hidden
}
.image img{
    display:block
}
.image--8x5{
    padding-bottom:62.5%
}
.image--8x5 img{
    width:100%;
    margin-bottom:-62.5%
}
.nav a{
    color:inherit;
    display:inline-block
}
.nav a:not(:hover){
    text-decoration:none
}
.bullet-list{
    list-style:none;
    margin-left:0;
    padding-left:0
}
.bullet-list li{
    margin:.875em 0
}
.bullet-list li:before{
    display:inline-block;
    content:"\25CF";
    margin-left:-1.25em;
    width:1.25em;
    color:#999
}
.navbar{
    padding:0;
    background:#0572CE;
    color:#fff;
    margin:-1.1rem 0
}
.navbar a{
    font-size:110%;
    margin:.25em 2.5%
}
.header{
    padding:6% 0;
    background:#04559A
}
.name{
    color:#fff;
    -webkit-animation:1s .25s fade backwards ease-out;
    animation:1s .25s fade backwards ease-out
}
.subtitle{
    display:block;
    font-size:115%;
    color:#dbdbdb;
    text-transform:uppercase;
    letter-spacing:.35em;
    word-spacing:.5em;
    margin:.5em 0;
    -webkit-animation:.5s .5s fade backwards ease-out;
    animation:.5s .5s fade backwards ease-out
}
.content{
    padding:5% 0;
    background:#f9f9f9;
}
.content--alt{
    background:#31373C;
    color:#c6c6c6;
    padding:2%;
}
.content a:not(.button){
    color:#04559A;
    text-decoration-skip:ink
}
.content--alt h2{
    color:#fff
}
.content--alt strong{
    color:#fff
}
.content--alt .summary{
    color:#aaa
}
.content--alt .grid_item{
    text-align: center;
}
.work a{
    text-decoration:none;
    color:inherit
}
.work h2{
    color:#444;
    padding-bottom:.25em;
    border-bottom:1px solid #ccc
}
.caption{
    line-height:1.95;
    color:#999999;
    margin:0
}
.caption{
    font-size:75%;
    text-transform:uppercase;
    letter-spacing:.05em;
    word-spacing:.1em
}
.name{
    color:white;
    margin:0;
    font-size:300%;
}
.title{
    color:white;
    margin:0;
    font: 250% Martel-subset,Georgia;
    -webkit-animation:1s .25s fade backwards ease-out;
    animation:1s .25s fade backwards ease-out;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}
.figure{
    display:block;
    margin:2.5em -40px
}
.figure_caption{
    display:block;
    margin:1.25em 2em 0 2em;
    text-align:center
}
.figure_item{
    display:block;
    overflow:hidden;
    margin:0
}
.figure_item--inset{
    padding:40px
}
.figure_item>*{
    display:block;
    margin-left:auto;
    margin-right:auto
}
.post p:first-child{
    font-size:130%;
    line-height:1.81
}
.post em{
    padding-right:.15em
}
.post_navigation{
    margin-top:70px;
}
.post_navigation .nav_item{
    width:45%
}
.post_navigation a{
    width:100%;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.post_navigation .nav_item--prev{
    float:left
}
.post_navigation .nav_item--next{
    float:right;
    text-align:right
}
.link-button{
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color:white !important;
    background:#0572CE;
    text-decoration: none;
}
.link-button:hover{
    background: #04559A;
}
:not(pre)>code{
    box-shadow:0 0 1px rgba(20,20,20,.6);
    background-color:rgba(0,0,0,.07);
    border-radius:3px;
    padding:.15em .4em;
    margin-left:.15em;
    margin-right:.15em;
    white-space:nowrap
}
.codeblock{
    font-size:90%;
    padding:40px;
    background:#39382e;
    color:#f8f8f2;
    overflow:auto;
    text-shadow:0 1px 0 #000
}
.code__number,.code__regex{
    color:#fd971f
}
.code__keyword{
    color:#f92672
}
.code__object{
    color:#66d9ef
}
.code_string{
    color:#a6e22e
}
.code_comment{
    color:#958f75
}
.code_number,.code_atblock{
    color:#fd971f
}
.code_keyword,.code_tag{
    color:#f92672
}
.code_property{
    color:#66d9ef
}
.code_value{
    color:#b88bff
}
.code_punc{
    color:#a59f85
}



/*Skills bar*/
.skillbar {
  font-family: 'Ubuntu', sans-serif;
  margin: 20px 20px 20px 20px;
}

.skillbar p{
  color:#525252;
  font-size:12px;
}

.skillbar {
    box-shadow:0 2px 4px 2px rgba(0,0,0,.075);
    position:relative;
    display:block;
    margin-bottom:15px;
    background:white;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
width:110px;
    font-weight:bold;
    font-size:13px;
    color:#ffffff;
    background:#6adcfa;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    padding:0 20px;
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#ffffff;
    color:rgba(0, 0, 0, 0.4);
}

/*ikone skillova*/
.skill-icon{
    padding-left: 50px;
    padding-right: 50px;
    color:#0572CE !important;
}
.cbp-ig-icon {
    padding: 30px 0 0;
    display: block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    font-size: 5rem;
    text-align:center;
}
.cbp-ig-title {
    color: #4c4c4c;
    margin: 20px 0 10px;
    padding: 20px 0 0;
    font-size: 1em;
    position: relative;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
    text-align: center;
}
/*.skill-icon:hover .cbp-ig-title {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
}
.skill-icon:hover .cbp-ig-icon {
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}
.skill-icon:hover .cbp-ig-title:before {
    margin-top: 80px;
}*/
.cbp-ig-title:before {
    content: '';
    position: absolute;
    background: #4c4c4c;
    width: 60px;
    height: 2px;
    top: 0;
    left: 50%;
    margin: 0 0 0 -30px;
    -webkit-transition: margin-top 0.2s;
    -moz-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
}
/*.skill-icons:hover .colored,.skill-icons:hover h3{
    color:#0572CE !important;
}*/
.skills-table{
    width: 100%;
}
.content.homepage{
    padding-top:0;
}
.homepage .subheading{
    display: inline-block;
    font-size: 2.9rem;
    font-weight: 100;
    padding: 10px 0;
    margin-bottom: 0px;
    text-align: center;
    border-bottom: solid 1px #ccc;
    border-top: solid 1px #ccc;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;
    color: #555;
    margin-top: 70px;
    letter-spacing: 0;
}
.align-center{
    text-align:center;
}
.devicon-oracle-original{
    height: 80px;
    font-size: 6rem;
}
.homepage-subtitle{
    display:initial;
}
/*
.subheading{
    display: inline-block;
    position: relative;
    line-height: 0.1;
    text-align: center;
    margin:50px;
}
.subheading:before, .subheading:after{
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
  top: 0;
  width: 100%;
}
.subheading:before {
  right: 100%;
  margin-right: 15px;
}
.subheading:after {
  left: 100%;
  margin-left: 15px;
}*/

@media screen and (max-width:640px){
    .grid{
        padding:0
    }
    .grid_item{
        font-size:.9rem
    }
    .bullet-list{
        margin-left:1.125em
    }
    .homepage .subheading{
        font-size:1.9rem;
    }
}
@media screen and (max-width:724px){
    .homepage-subtitle{
        display:block;
    }
}
@media screen and (max-width:310px){
    .grid_item{
        font-size:.7rem
    }
}
@-webkit-keyframes fade{
    from{
        transform:translateY(.25em);
        opacity:0
    }
}
@keyframes fade{
    from{
        transform:translateY(.25em);
        opacity:0
    }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    .skill-icon{
        width:20%;
        display:inline-block;
        padding-left:6%;
        padding-right:6%
    }
    .devicon-oracle-original{
        height: 64px;
    }
    .skill-icon i{
        font-size:4rem;
    }
    .skills-table{
        display:inherit;
    }
    
    td { 
        /* Behave  like a "row" */
        border: none;

        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

@media screen and (max-width:640px){
    .grid{
        padding:0
    }
    .grid_item{
        font-size:.9rem
    }
    .bullet-list{
        margin-left:1.125em
    }
    .figure{
        margin-left: -20px;
        margin-right: -20px;
}
    .text-code{
        white-space: initial !important;
    }
}
@media screen and (max-width:310px){
    .grid_item{
        font-size:.7rem
    }
}
@-webkit-keyframes fade{
    from{
        transform:translateY(.25em);
        opacity:0
    }
}
@keyframes fade{
    from{
        transform:translateY(.25em);
        opacity:0
    }
}
